body{
    background-color: #fbf4eb;
    padding: 20px;
}

h1{
    color: #c43670; 
    background-color: #fbd9e5;
    padding: 10px;
}

h2{
    color: #c43670; 
    background-color: #fbd9e5;
    padding: 15px;
    margin-top: 20px;
}


header{
    color: #c43670;
}

main{
    background-color: #fbd9e5;
    color: #3d3d3d;
    padding: 25px;
    margin: 20px 0;
}

nav{
    color: #c43670;
    background-color: #fcd9a9;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
}
nav ul{ 
    color: #c43670;
    text-decoration: none;
    padding: 5px;
}

section {
    padding: 20px;
    margin-bottom: 25px;
}

footer {
    padding: 20px;
    text-align: center;
}

ul {
    padding-left: 25px;
    margin: 15px 0;
}

li {
    padding: 5px 0;
}